@import "bootstrap";

/* universal */

html {
	overflow-y: scroll;
}

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.lorem {
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -.1em;
	margin-bottom: .9em;
	// text-align: center;
}

h2 {
	font-size: 1.7em;
	letter-spacing: -.06em;
	margin-bottom: .5em;
	// text-align: center;
	font-weight: normal;
	color: #789;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
}

/* footer */

// footer {
// 	margin-top: 45px;
// 	padding-top: 5px;
// 	border-top: 1px solid #eaeaea;
// 	color: #999;
// }

// footer a {
// 	color: #555;
// }

// footer a:hover {
// 	color: #222;
// }

footer small, footer small a {
	display: inline-block;
	margin-top: 5px;
}

.navbar .nav > li > a {
	color: #789;
	&:hover {
		color: #aaa;
	}
}

// footer ul {
// 	float: right;
// 	list-style: none;
// }

// footer ul li {
// 	float: left;
// 	margin-left: 10px;
// }